
/*@font-face {*/
    /*font-family: Montserrat;*/
    /*src: url("css/Fonts/transfonter.org-20190226-164313/Montserrat-Black.woff") format("woff");*/
/*}*/

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}
.container {
    position: relative;
    width: 1920px;
    height: 904px;
    background: #baa0ff;
}
.title {
    position: absolute;
    left: 49px;
    top: 56px;
    width: 86px;
    height: 131px;
    font-size: 60px;
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.title-small {
    font-size: 48px;
}

.title-large {
    font-size: 60px;
}

.clock {
    position: absolute;
    left: 844px;
    margin: auto;
    top: 50px;
    right: 845px;
    width: 231px;
    height: 67px;
    /*font-family: "Montserrat", sans-serif;*/
    /*font-style: normal;*/
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.clock-large {
    width: 50%;
    height: 67px;
    font-size: 94px;
    float: left;
}

.clock-small {
    width: auto ;
    height: 54px;
    font-size: 78px;
    float: left;
    padding-top: 12px;
    padding-left: 9px;
}

.image-box {
    width: 1920px;
    height: 578px;
    position: absolute;
    bottom: 0px;
    z-index: 2;
}

/*.outern-elipsis {*/
    /*position: relative;*/
    /*width: 39px;*/
    /*height: 46px;*/
/*}*/

.elipsis {
    color: #ffffff;
    font-size: 24px;
}
.elipsis1 {
    position: absolute;
    left: 330px;
    top: 426px;
    width: 31px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
}
.elipsis2 {
    position: absolute;
    left: 573px;
    top: 312px;
    width: 31px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
}
.elipsis3 {
    position: absolute;
    left: 775px;
    top: 423px;
    width: 31px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
}
.elipsis4 {
    position: absolute;
    left: 1027px;
    top: 312px;
    width: 31px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
}

.elipsis5 {
    position: absolute;
    left: 1230px;
    top: 423px;
    width: 31px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
}

.elipsis6 {
    position: absolute;
    left: 1545px;
    top: 376px;
    width: 31px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
}
